{% extends "app/layout.html" %}

{% block title %}About{% endblock title %}

{% block body %}

 <div>
     <h3>About Us</h3>

<p style="font-family:Cambria">Dharma Wines is the first e-commerce website for wines in India!</p>

The Government of Maharashtra has framed Regulations for Prevention and Containment of COVID-19. Under these guidelines it has allowed the liquor shops to affect sale to permit-holders through delivery of liquor at the permit-holder's residential address via E-commerce platform in Maharashtra.

</br></br>Dharma Wines Wine & Beer Shop (FLBR II - 420) is a licenced liquor shop through which the sale of wines are allowed.</br></br>

Dharma Wines e-commerce platform brings 200+ wines, local and imported to your doorstep with a click of a button. The wines are arranged by type, styles, country, region, producer and special features so you can browse them as your choice. Wine tasting notes and critics rating are also added to enable you to make your shopping experiences informative and fun.

</br></br>There are thousands of wines in the world, making it very confusing to choose the right wine which fits your taste and budget. Hence our team has pre-selected wines which are from good producers and which we ourselves enjoy drinking, thus ensuring that you never get a poor quality wine. We also have an integrated payment portal for all transactions.

</br></br>Enjoy browsing, learning, buying and sharing your experience at our website with your friends and family.</br></br>

<h6 style="color:cadetblue">Team Dharma Wines</h6></p>
 </div>
{% endblock body %}
