{% extends "app/layout.html" %}

{% block title %}Services{% endblock title %}

{% block body %}
<p><h3>Return Policies:</h3>

No returns will be offered on Items that have been delivered without any damages.</p>

<p><h3>Cancellation Policies:</h3>

Cancellations are possible only within 1 hour of placing your order. However it will not be possible to cancel your order after 1 hour. Please send us a request by sending an email at info2@dharmawines.com only. A refund for a successfully cancelled order will be made only in the form of store credit and will be processed after confirmation of cancellation.
Sometimes the delivery can be delayed due to unforeseen circumstances beyond our control.
Please consider extra days for delivery around festivals and public holidays.</p>

<h6 style="color:cadetblue">Team Dharma Wines</h6>

{% endblock body %}